HELP.md
target/
logs/
mongodb/
minio/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
minio/data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
minio/data/.minio.sys/buckets/.usage-cache.bin/xl.meta
minio/data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
minio/data/.minio.sys/buckets/.usage.json/xl.meta
minio/data/.minio.sys/buckets/anchor-profile/.usage-cache.bin/xl.meta
minio/data/.minio.sys/buckets/anchor-profile/.usage-cache.bin.bkp/xl.meta

src/main/resources/firebase/anchor-firebase-adminsdk.json
